section
  .container
    .footer-link
      .row
        .col-md-3.footer-link-item
          h4#company Company
          div#companyCollapse
            a.link(href='products.html') Products
            a.link(href='about.html') About
            a.link(href='careers.html') Careers
            a.link(href='#terms-conditions', data-toggle='modal') Terms & Conditions
            a.link(href='#privacy-policy', data-toggle='modal') Privacy Policy
        .col-md-3.footer-link-item
          h4#productList products
          div#productListCollapse
            a.link(href='products.html') Selerity Context
            a.link(href='products-event-data.html') Real-time Event Data
            a.link(href='products-sgi.html') Selerity Global Insight
        .col-md-3.footer-link-item
          h4#visitUs Visit Us
          div#visitUsCollapse
            h6 NYC Headquarters
            p.contact-information
              | 7 West 36th Street,
              br
              | 4th Floor,
              br
              | New York City, NY 10018
        .col-md-3.footer-link-item
          h4#contactUs Contact Us
          div#contactUsCollapse
            .row
              .col-md-12.clearfix
                .row
                  .col-xs-2.col-md-3
                    p.contact Email
                  .col-xs-9.col-md-9
                    a.contact-information(href='mailto:info@seleritycorp.com') info@seleritycorp.com
              .col-md-12.clearfix
                .row
                  .col-xs-2.col-md-3
                    p.contact Tel
                  .col-xs-9.col-md-9
                    a.contact-information(href="tel:+1-646-655-0719") +1 646 655 0719
            .logo-social.bg-white
              a(href='https://twitter.com/Selerity')
                i.fa.fa-twitter
              a(href='http://www.linkedin.com/company/selerity')
                i.fa.fa-linkedin
section
  .footer-text
    .container
      .row
        .text
          .text-center.text-logo
            .logo-footer
            .company
              | EST 2009
              br
              | Born in
              span.bold  Jersey.
              |  Refined in
              span.bold  NYC
          .copyright Copyright © 2015 Selerity, Inc
