doctype html
html(lang="en")
  head
    block head-title
      title Default title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    link(href="https://www.google.com/fonts#UsePlace:use/Collection:Lato:400,300,400italic,700")
    link(href="//cdn.muicss.com/mui-0.1.23/css/mui.min.css" rel="stylesheet", type="text/css")
    link(href="css/app.css" rel="stylesheet", type="text/css")    
  
  body
    block main-content

    <!--Script Collection-->
    block scripts
      script(src="//cdn.muicss.com/mui-0.1.23/js/mui.min.js")
      script(src="js/jquery.min.js")
      script(src="js/main.js")