.home-menu {
  @include position(fixed, 0 0 0 0);
  width: 100%;
  &__image {
    @include size(375px 540px);
    margin-top: 28%;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__item {
    @include position(relative);
    @include transition(all ease-in-out);

    &--women {
      .home-menu__title {
        margin-left: 35%;
      }

      &.on-focus-left {
        z-index: 33;
        @include transition(transform 0.4s ease, opacity 0.4s ease);
        @include transform(scale(1.18063608556404) translateX(70px));
        @include opacity(1);
      }

      &.on-focus-right {
        @include transition(transform 0.4s ease, opacity 0.4s ease);
        @include transform(scale(0.492576600741311) translateX(70px));
        @include opacity(0.5);
      }

      &.show-menu,
      &.on-focus-left {
        .home-menu__list {
          @include opacity(1);
        }

        .home-menu__title {
          @include transform(translateX(50px));
        }

        .home-menu__list--item {
          @include transform(translateX(40%));
        }
      }
    }

    &--men {
      .home-menu__title {
        margin-left: -20%;
      }

      &.on-focus-left {
        @include transition(transform 0.4s ease, opacity 0.4s ease);
        @include transform(scale(0.492576600741311) translateX(-70px));
        @include opacity(0.5);
      }

      &.on-focus-right {
        @include transition(transform 0.4s ease, opacity 0.4s ease);
        @include transform(scale(1.18063608556404) translateX(-70px));
        @include opacity(1);
      }

      &.on-focus-right,
      &.show-menu {
        .home-menu__list {
          @include opacity(1);
        }

        .home-menu__title {
          @include transform(translateX(-50px));
        }

        .home-menu__list--item {
          @include transform(translateX(-40%));
        }
      }
    }
  }

  &__title {
    @include transition(color 0.2s ease, transform 0.4s ease);
    @include link-style($color: $cod-gray, $color-hover: $froly);
    font-size: 100px;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 20%;
  }

  &__desc {
    @include position(absolute, 50% null null null);
    @include transform(translateY(-50%));
    width: 400px;
    &--women {
      right: 50%;
    }

    &--men {
      left: 50%;
    }
  }

  &__list {
    @include opacity(0);
    @include transition(opacity 0.2s ease);
    &--women {
      @extend %text-right;
      margin-right: 20%;
    }

    &--men {
      @extend %text-left;
      margin-left: 20%;
    }

    &--item {
      @include transition(transform 0.4s ease, opacity 0.4s ease);
    }

    &--link {
      @include link-style($color: $cod-gray, $color-hover: $froly);
    }
  }
}