// base/variables/depend-variables
// $card-border-color: $base-border-color;
// $card-border: 1px solid $card-border-color;
// $card-background: lighten($card-border-color, 10%);
// $card-header-background: $card-background;
// $card-margin: 1em;
// $card-image-hover-opacity: 0.7;
// $card-image-hover-color: $blue-lighter;

.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  &__item {

    @include flex-basis(15em);
    @include flex-grow(1);
    @include transition (all 0.2s ease-in-out);
    background-color: $card-background;
    border-radius: $base-border-radius;
    border: $card-border;
    box-shadow: 0 2px 4px darken($base-background-color, 10%);
    cursor: pointer;
    margin: 0 $card-margin $base-spacing $card-margin;
    position: relative;



    &:focus,
    &:hover {
      cursor: pointer;

      .cards__image--specific {
        opacity: $card-image-hover-opacity;
      }
    }

    &:active {
      background-color: $card-background;

      .cards__header {
        background-color: $card-background;
      }
    }
  }

  &__image {
    overflow: hidden;
    height: 300px;
    max-height: 350px;
    background-color: $card-image-hover-color;

    &--specific {
      @include transition (all 0.2s ease-in-out);
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      opacity: 1;
      height: 100%;
      width: 100%;
    }
  }

  &__header {
    @extend %font-normal;
    @extend %text-capitalize;
    @include font-size(22, 0.8);
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
  }

  &__copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    &--content {
      @include font-size(18);
      margin: 0 0 ($base-spacing / 2);
    }
  }
}