@media screen and (max-width: 768px) {
  .hide-small-only {
    display: none !important;
  }

  .carrers-selerity {
    .container-button {
      margin-bottom: 0;
    }
    
    header {
      height: 250px;
    }
  }

  #carrers {
    .cover-content {
      padding:20px 20px 40px;
      .container-box .box {
        display: block;
        font-size: 18px;
        margin-bottom: 5%;
        padding: 0 5% 25px;
        width: 100%;
      }

      h4 {
        font-size: 20px;
      }
      
      .embrace ul li {
        margin-bottom: 20px !important;
        width: 100%;
      }

      .benefits ul {
        margin: 0;
        padding-top: 20px;
        li {
          margin-bottom: 20px;
          min-height: 80px;
          width: 100%;
        }
      }
    }

    .btn-recruiters {
      padding: 8px 50px;
    }
    
  }
}