.product-device-example
  .device-background
    .device-text
      h4 Selerity on device
      p Today is a beautiful day. I test design on mobile and it run so smooth. So happy about it.
    .device
      .screen