header.product-header
  .product-header__hero.header-page
    .product-header__hero--cover.header-page__transparent-panel
  .product-header__content.hero-description
    h2.hero-description__title selerity context
    p.hero-description__content 
      | Drive engagement by integrating high-quality content 
      | into your enterprise application personalized to your 
      | user's workflow and interests