section.product-intro
  .product-intro__container
    p.product-intro__text-content
      | Selerity Context is a contextual content recommendation service
      | for enterprise applications used by finance and business professionals.
      | Applications using Selerity Context can empower their users with
      | content discovery and search capabilities based on their individual
      | workflow and what's happening in the world in real-time.
    .product-intro__symphony.intro-symphony
      .intro-symphony__image
      .intro-symphony__btn
        a.intro-symphony__btn--right-arrow.btn-right-arrow Selerity Context on Symphony
