//- opacity
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}

@mixin link-style(
  $color: $blue-link-color, 
  $color-hover: darken($blue-link-color, 10%)) 
{
  color: $color;
  &:hover {
    color: $color-hover;
  }
}

@mixin border-radius($value) {
  border-radius: $value;
  -webkit-border-radius: $value;
  -o-border-radius: $value;
  -ms-border-radius: $value; 
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}