//- layout
%container-fluid {
  @include outer-container(100%);
  padding-left: 15px;
  padding-right: 15px;
}

%container {
  
  @include media($screen-320-up) {
    @include outer-container($x-small-screen-width);
    padding-left: 5px;
    padding-right: 5px;
  }

  @include media($screen-480-up) {
    @include outer-container($small-screen-width);
    padding-left: 5px;
    padding-right: 5px;
  }

  @include media($screen-768-up) {
    @include outer-container($medium-small-screen-width);
    padding-left: 15px;
    padding-right: 15px;
  }

  @include media($screen-992-up) {
    @include outer-container($medium-screen-width);
    padding-left: 15px;
    padding-right: 15px;
  }

  @include media($screen-1200-up) {
    @include outer-container($large-screen-width);
    padding-left: 15px;
    padding-right: 15px;
  }
}

%row {
  margin-left: -15px;
  margin-right: -15px;
}

// @mixin grid-screen($screen, $columns) {
//   .col-#{$screen}-#{$columns} {
//     @if $screen == 
//   }
// }

// Grid
@include media($screen-320-up) {
  .col-xs-1 {
    @include span-columns(1);
  }

  .col-xs-2 {
    @include span-columns(2);
  }

  .col-xs-3 {
    @include span-columns(3);
  }

  .col-xs-4 {
    @include span-columns(4);
  }

  .col-xs-5 {
    @include span-columns(5);
  }

  .col-xs-6 {
    @include span-columns(6);
  }

  .col-xs-7 {
    @include span-columns(7);
  }

  .col-xs-8 {
    @include span-columns(8);
  }

  .col-xs-9 {
    @include span-columns(9);
  }

  .col-xs-10 {
    @include span-columns(10);
  }

  .col-xs-11 {
    @include span-columns(11);
  }

  .col-xs-12 {
    @include span-columns(12);
  }
}

@include media($screen-768-up) {
  .col-sm-1 {
    @include span-columns(1);
  }

  .col-sm-2 {
    @include span-columns(2);
  }

  .col-sm-3 {
    @include span-columns(3);
  }

  .col-sm-4 {
    @include span-columns(4);
  }

  .col-sm-5 {
    @include span-columns(5);
  }

  .col-sm-6 {
    @include span-columns(6);
  }

  .col-sm-7 {
    @include span-columns(7);
  }

  .col-sm-8 {
    @include span-columns(8);
  }

  .col-sm-9 {
    @include span-columns(9);
  }

  .col-sm-10 {
    @include span-columns(10);
  }

  .col-sm-11 {
    @include span-columns(11);
  }

  .col-sm-12 {
    @include span-columns(12);
  }
}


@include media($screen-992-up) {
  .col-md-1 {
    @include span-columns(1);
  }

  .col-md-2 {
    @include span-columns(2);
  }

  .col-md-3 {
    @include span-columns(3);
  }

  .col-md-4 {
    @include span-columns(4);
  }

  .col-md-5 {
    @include span-columns(5);
  }

  .col-md-6 {
    @include span-columns(6);
  }

  .col-md-7 {
    @include span-columns(7);
  }

  .col-md-8 {
    @include span-columns(8);
  }

  .col-md-9 {
    @include span-columns(9);
  }

  .col-md-10 {
    @include span-columns(10);
  }

  .col-md-11 {
    @include span-columns(11);
  }

  .col-md-12 {
    @include span-columns(12);
  }
}

@include media($screen-1200-up) {
  .col-lg-1 {
    @include span-columns(1);
  }

  .col-lg-2 {
    @include span-columns(2);
  }

  .col-lg-3 {
    @include span-columns(3);
  }

  .col-lg-4 {
    @include span-columns(4);
  }

  .col-lg-5 {
    @include span-columns(5);
  }

  .col-lg-6 {
    @include span-columns(6);
  }

  .col-lg-7 {
    @include span-columns(7);
  }

  .col-lg-8 {
    @include span-columns(8);
  }

  .col-lg-9 {
    @include span-columns(9);
  }

  .col-lg-10 {
    @include span-columns(10);
  }

  .col-lg-11 {
    @include span-columns(11);
  }

  .col-lg-12 {
    @include span-columns(12);
  }
}