#thanksModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title Thank you!
      .modal-body
        p Thank you. A Selerity solutions representative will contact you shortly.
      .modal-footer
        button.btn.btn-default(type="button" data-dismiss="modal") Close
