@media screen and (max-width: 992px) {
  .products-context-selerity {
    .btn-request-beta {
      margin-top: 30px;
      width: 400px;
      .text-capitalize {
        font-size: 20px;
      }
    }

    .intro-products-content {
      padding-left: 0;
    }

    .premium-content .premium-content-block {
      width: 670px;
    }
    
  }
}