@media screen and (max-width: 1024px) {
  .products-context-selerity {
    .btn-request-beta {
      width: 340px;
      .text-capitalize {
        font-size: 16px;
      }
    }

    .intro-products-content {
      padding-left: 50px;
    }
    
  }
}