.section.section--dark-bg(data-slide="7")
  .section__wrap-content
    .section__title contact
    .section__content.contact
      .contact__image.col-md-4.col-sm-6
        img.contact__image--frame(src="images/donovan/foto_bg.png")
        img.contact__image--avatar(src="images/donovan/foto.jpg")
      .contact__info.col-md-8.col-sm-6
        p.contact__info--name Raymond Donovan ( Photographer )
        p.contact__info--desc Nullam aliquam, mauris sit amet convallis condimentum, massa tortor 
          | pretium magna, vitae rutrum libero nibh vitae nisl. Sed imperdiet 
          | dictum sapien. Mauris tortor massa, euismod eu rhoncus dignissim, 
          | ultrices at leo. Donec gravida, lorem ac sollicitudin
        .contact__social
          a.contact__social-item(href="javascript:avoid(0)")
          a.contact__social-item(href="javascript:avoid(0)")
          a.contact__social-item(href="javascript:avoid(0)")
          a.contact__social-item(href="javascript:avoid(0)")
