.section(data-slide="4")
  .section__wrap-content
    .section__title exhibitions
    .section__content.infographic.infographic--light-bg.exhibitions
      .infographic__wrap-content
        .infographic__vertical-line.exhibitions__vertical-line
        .infographic__section.exhibitions__section
          .infographic__number.exhibitions__number 2012
          .infographic__event.exhibitions__event 
            p.infographic__event--title.exhibitions__event--title "Etiam gravida convallis, Columbus College, Columbus, Ohio"
        .infographic__section.exhibitions__section
          .infographic__number.exhibitions__number 2010
          .infographic__event.exhibitions__event
            p.infographic__event--title.exhibitions__event--title “TEtiam nunc tortor”, Junction View Studios, Columbus, Ohio
            p.infographic__event--content.exhibitions__event--content Pellentesque habitant morbi tristique senectus et 
              | netus et malesuada fames ac turpis egestas. 
              | Cras sed risus
        .infographic__section.exhibitions__section
          .infographic__number.exhibitions__number 2009
          .infographic__event.exhibitions__event
            p.infographic__event--title.exhibitions__event--title “Vestibulum euismod ”, Columbus College, Columbus, Ohio
            p.infographic__event--content.exhibitions__event--content Donec in vehicula augue. Sed et nisi sem, at semper 
              | dolor. Pellentesque habitant morbi tristique senectus
        .infographic__section.exhibitions__section
          .infographic__number.exhibitions__number 2008
          .infographic__event.exhibitions__event
            p.infographic__event--title.exhibitions__event--title “Aliquam vitae lorem ”, Junction View Studios, Columbus, Ohio
            p.infographic__event--content.exhibitions__event--content Pellentesque habitant morbi tristique senectus 
              | et netus et malesuada fames ac turpis egestas. Cras sed risus