.section.donovan-header(data-slide="1")
  .donovan-header--effect
    .donovan-header__content
      .donovan-header__slogan 
        .donovan-header__slogan--line
        .donovan-header__slogan--text My name is
        .donovan-header__slogan--line
      h2.donovan-header__title raymond donovan
      p.donovan-header__desc professional photographer
      a.donovan-header__btn-down(href="javascript:avoid(0)" data-slide="2")
    .donovan-header__inset-shadow
