.section.section--light-bg(data-slide="2")
  .section__wrap-content
    .section__title about me
    .section__content.introduce
      .introduce__desc.col-sm-8
        h4.introduce__sub-title Biography
        .introduce__desc--content
          p Morbi rutrum, elit ac fermentum egestas, tortor ante 
            | vestibulum est, eget scelerisque nisl velit eget tellus. 
            | Fusce porta facilisis luctus. Integer neque dolor, 
            | rhoncus nec euismod eget, pharetra et tortor. Nulla id 
            | pulvinar nunc. Vestibulum auctor nisl vel lectus ullamcorper 
            | sed pellentesque dolor eleifend. Praesent lobortis magna vel diam mattis sagittis.
          p Mauris porta odio eu risus scelerisque id facilisis ipsum 
            | dictum vitae volutpat. Lorem ipsum dolor sit amet, consectetur 
            | adipiscing elit. Sed pulvinar neque eu purus sollicitudin et 
            | sollicitudin dui ultricies. Maecenas cursus auctor tellus sit 
            | amet blandit. Maecenas a erat ac nibh molestie interdum. Class 
            | aptent taciti sociosqu ad litora torquent per conubia nostra, 
            | per inceptos himenaeos. Sed lorem enim, ultricies sed sodales id, 
            | convallis molestie ipsum. Morbi eget dolor ligula. Vivamus accumsan 
            | rutrum nisi nec elementum. Pellentesque at nunc risus. Phasellus 
            | ullamcorper bibendum varius.  Quisque quis ligula sit amet felis 
            | ornare porta. Aenean viverra lacus et mi elementum mollis. 
            | Praesent eu justo elit.
      .introduce__contact.col-sm-4
        .introduce__contact-person
          h4.introduce__sub-title personal info
          ul.introduce__contact-person--list
            li.introduce__contact-person--list-item (+1) 245 5462 252
            li.introduce__contact-person--list-item 3301 Lorem Ipsum, Dolor Sit St
            li.introduce__contact-person--list-item
              a.introduce__contact-person--link(href="javascript:void(0)") support@lorem.com
            li.introduce__contact-person--list-item
              a.introduce__contact-person--link(href="javascript:void(0)") www.lorem.com
        .introduce__contact-tweet
          h4.introduce__sub-title my recent tweets
          .introduce__tweet
            p loading tweets
