.main-navigation
  .main-navigation__container
    nav
      a.main-navigation__btn-dropdown(data-toogle="collapse" data-target="") MENU
      ul.main-navigation__menu
        li.main-navigation__menu-item(href="javascript:avoid(0)" data-slide="2") About Me
        li.main-navigation__menu-item(href="javascript:avoid(0)" data-slide="3") Services
        li.main-navigation__menu-item(href="javascript:avoid(0)" data-slide="4") Exhibitions
        li.main-navigation__menu-item(href="javascript:avoid(0)" data-slide="5") Resume
        li.main-navigation__menu-item(href="javascript:avoid(0)" data-slide="6") Portfolio
        li.main-navigation__menu-item(href="javascript:avoid(0)" data-slide="7") Contact
        .main-navigation__effect