.section.section--dark-bg(data-slide="5")
  .section__wrap-content
    .section__title resume
    .section__content.infographic.infographic--dark-bg.resume
      .resume__sub-title experience
      .infographic__wrap-content
        .infographic__vertical-line.resume__vertical-line
        .infographic__section.resume__section
          .infographic__number.resume__number 2012 - now
          .infographic__event.resume__event 
            p.infographic__event--title.resume__event--title Wedding Photographer  @FamousCompany, Inc.
        .infographic__section.resume__section
          .infographic__number.resume__number 2010 - 2012
          .infographic__event.resume__event
            p.infographic__event--title.resume__event--title Web Design  @FamousCompany, Inc.
            p.infographic__event--content.resume__event--content Aliquam vitae lorem nunc, nec iaculis leo. Nulla tempor iaculis enim, at pharetra velit imperdiet sed. In
        .infographic__section.resume__section
          .infographic__number.resume__number 2009 - 2010
          .infographic__event.resume__event
            p.infographic__event--title.resume__event--title Fashion Photographer  @FamousCompany, Inc.
            p.infographic__event--content.resume__event--content Maecenas quam sem, ornare ac consectetur a, vehicula eu neque. Suspendisse eros nunc, porta eget
        .infographic__section.resume__section
          .infographic__number.resume__number 2008 - 2009
          .infographic__event.resume__event
            p.infographic__event--title.resume__event--title Commercial Photographer @FamousCompany, Inc.
            p.infographic__event--content.resume__event--content Duis elementum mollis purus, sit amet porta eros aliquet euismod. Donec sit amet dictum erat. Curabitur
        .infographic__section.resume__section
          .infographic__number.resume__number 2007 - 2008
          .infographic__event.resume__event
            p.infographic__event--title.resume__event--title Fashion Photographer  @FamousCompany, Inc.
            p.infographic__event--content.resume__event--content Maecenas quam sem, ornare ac consectetur a, vehicula eu neque. Suspendisse eros nunc, porta eget
