doctype html
html(lang="en")
  head
    block head-title
      title Default title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="css/app.css" rel="stylesheet", type="text/css")    
  
  body
    block main-content

    <!--Script Collection-->
    script(src="js/jquery.min.js")
    script(src="js/materialize.min.js")
    script(src="js/main.js")