extends ./layouts/_default

block head-title
  title Raymond Donovan

block main-content
  include ./modules/donovan/_hero-header
  include ./modules/donovan/_main-nav
  include ./modules/donovan/_introduce
  include ./modules/donovan/_services
  include ./modules/donovan/_exhibitions
  include ./modules/donovan/_resume
  include ./modules/donovan/_portpolio
  include ./modules/donovan/_contact
  include ./modules/donovan/_footer