extends ./layouts/_default

block head-title
  title Women

block main-content
  include ./modules/62-models/_header
  .wrap-content
    include ./modules/62-models/_filter-control
    include ./modules/62-models/_grid-content