doctype html
html(lang="en")
  head
    block head-title
      title Default title
    meta(name="viewport" content="width=device-width, initial-scale=2.0")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    link(href="css/main.css" rel="stylesheet", type="text/css")

  body
    block main-content
    script(src="js/jquery.min.js")
    script(src="js/main.js")
