@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");

$font-lato: "Lato", sans-serif;
$navbar-default-link-color: #fff;

$font-weight-lato-light: 300;
$font-weight-lato-normal: 400;
$base-color: #fff;
$blue-darker: #0d78b9;
