.valign-wrapper.pre-loader
  .preloader-wrapper.big.active.pre-loader__valign
    .spinner-layer.spinner-red
      .circle-clipper.left
        .circle
      .gap-patch
        .circle
      .circle-clipper.right
        .circle
  .blue-grey.darken-4.pre-loader__section.pre-loader__section--left
  .blue-grey.darken-4.pre-loader__section.pre-loader__section--right
