doctype html
html(lang="en")
  //- vars block is used for passing between jade templates
  head
    title Front End Stack
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

    link(href="css/main.css" rel="stylesheet", type="text/css")
  body
    .box-animation
    .test-background-1
    .test-background-2

