section.grid-filter
  .grid-filter__row
    ul.list-inline.grid-filter__list
      li
        button(class="is-selected") Women
      li
        button Men
  .grid-filter__row
    ul.list-inline.grid-filter__list
      li
        button Mainboard
      li
        button Development
      li
        button International