.home-menu
  .home-menu__item.home-menu__item--women.pull-left
    a(href="inner.html")
      img.home-menu__image.pull-right(src="images/women.jpg")
    .home-menu__desc.home-menu__desc--women
      a(href="http://www.62models.com/models/?gender=women&talent-type=")
        h2.home-menu__title Women
      ul.home-menu__list.home-menu__list--women
        li.home-menu__list--item
          a.home-menu__list--link(href="http://www.62models.com/models/?gender=women&talent-type=mainboard") Mainboard
        li.home-menu__list--item
          a.home-menu__list--link(href="http://www.62models.com/models/?gender=women&talent-type=development") Development
        li.home-menu__list--item
          a.home-menu__list--link(href="http://www.62models.com/models/?gender=women&talent-type=international") International

  .home-menu__item.home-menu__item--men.pull-left
    a(href="inner.html")
      img.home-menu__image(src="images/men.jpg")
    .home-menu__desc.home-menu__desc--men
      a(href="http://www.62models.com/models/?gender=men&talent-type=")
        h2.home-menu__title Men
      ul.home-menu__list.home-menu__list--men
        li.home-menu__list--item
          a.home-menu__list--link(href="http://www.62models.com/models/?gender=men&talent-type=mainboard") Mainboard
        li.home-menu__list--item
          a.home-menu__list--link(href="http://www.62models.com/models/?gender=men&talent-type=development") Development
        li.home-menu__list--item
          a.home-menu__list--link(href="http://www.62models.com/models/?gender=men&talent-type=international") International

