.about-hero
  //- header by refills components
  .hero
    .hero__inner
      a.hero__logo(href="")
        img.hero__logo--specific(src="images/logo.png" alt="logo image")
      .hero__copy
        p.hero__copy--content
          | Selerity is fundamentally changing the way people discover
          | relevant information by bringing the age of context to the business
          | professional. Our mission is to empower professionals with relevant
          | content based on their individual workflow and what's happening in
          | the world in real-time.