footer.footer(role="contentinfo")
  .footer__logo
    img.footer__logo--specific(src="images/logo.png" alt="Logo image")
  .footer__links
    ul.footer__link-group
      li.footer__link-group--row
        h3.footer__link-group--title Content
      li.footer__link-group--row
        a.footer__link-group--link(href="javascript:void(0)") About
      li.footer__link-group--row
        a.footer__link-group--link(href="javascript:void(0)") Contact
      li.footer__link-group--row
        a.footer__link-group--link(href="javascript:void(0)") Products
    ul.footer__link-group
      li.footer__link-group--row
        h3.footer__link-group--title Follow Us
      li.footer__link-group--row
        a.footer__link-group--link(href="javascript:void(0)") Facebook
      li.footer__link-group--row
        a.footer__link-group--link(href="javascript:void(0)") Twitter
      li.footer__link-group--row
        a.footer__link-group--link(href="javascript:void(0)") YouTube

    ul.footer__link-group
      li.footer__link-group--row
        h3.footer__link-group--title Legal
      li.footer__link-group--row
        a.footer__link-group--link(href="javascript:void(0)") Terms and Conditions
      li.footer__link-group--row
        a.footer__link-group--link(href="javascript:void(0)") Privacy Policy
  hr.footer__line-break
  p.footer__desc Disclaimer area lorem ipsum dolor sit amet, 
    | consectetur adipisicing elit. Rerum, nostrum repudiandae saepe