//- default.jade
doctype html
html(lang="en")
  //- vars blocks is used for passing between jade templates
  head
    block head-title
      title Javascript Practice
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")/
    link(href="./styles/main.css", rel="stylesheet", type="text/css")
    
  body
    block main-content
      .main-content Default layout

    <!-- Scripts -->
    != getBlock('scripts').toHTML()
    script(src="./vendor/jquery/dist/jquery.js")
    script(src="./vendor/bootstrap-sass-official/assets/javascripts/bootstrap.min.js")
    script(src="./vendor/lodash/lodash.js")
    script(src="./vendor/Faker/build/build/faker.min.js")
    script(src="./scripts/helper/helper.js")
    script(src="./scripts/modules/user.js")
    script(src="./scripts/views/userView.js")
    script(src="./scripts/views/userListViews.js")
    script(src="./scripts/main.js").HTMLInspector.inspect()