extends ./layouts/default.jade

block head-title
  title About

block main-content
  include ./modules/about/about-navigation.jade
  include ./modules/about/about-hero-unit.jade
  include ./modules/about/about-scroll-all-page.jade
  include ./modules/about/about-footer.jade