extends ./layouts/default.jade

block head-title
  title Products

block main-content
  include ./modules/header.jade
  include ./modules/product/product-header.jade
  include ./modules/product/product-intro.jade
  include ./modules/product/product-use-case.jade
  include ./modules/product/product-parallax.jade
  include ./modules/product/product-powerful.jade
  include ./modules/product/product-device.jade