<span id="todo-count" class="counter text-left">
  <strong>{{notDone}}</strong>
  <span>
    {{#compare this.notDone 2 operator="<"}} item
    {{else}} items
    {{/compare}}
  </span>
</span>

<ul id="filters" class="filters list-unstyled clearfix">
  <li>
    <a id="all-task" href="#/" class="selected">All</a>
    <a id="active-task" href="#/active">Active</a>
    <a id="completed-task" href="#/completed">Completed</a>
  </li>
  
  {{#if done}}
  <li>
    <button id="clear-completed">Clear completed</button>
  </li>
  {{/if}}
</ul>