extends layouts/default.jade

block head-title
  title Foundation Practice

block main-content
  include ./modules/home-page/hero-slide.jade
  .main-content
    include ./modules/home-page/picture-news.jade
