%font-light {
  font-weight: 300;
}

%font-16 {
  font-size: 16px;
}

%font-20 {
  font-size: 20px;
}

%font-30 {
  font-size: 30px;
}

%text-silver-chalice {
  color: $silver-chalice;
}

%pointer {
  cursor: pointer;
}