---
layout: inner
title: Job - Senior Financial Editor
active: careers
---


#acm.jobs
  section
    .container
      .row
        <!-- title -->
        .cover-title
          .title-1 <%- @site.careers.acm.job_name %>
  section
    .container
      .row
        <!-- content -->
        .cover-content
          .title-2 <%- @site.careers.acm.job_title %>
          .line
            .bold <%- @site.careers.acm.job_type %>
            | <%- @site.careers.acm.employment_cont %>
          .line
            .bold <%- @site.careers.acm.location %>
            | <%- @site.careers.acm.location_cont %>
          .line
            .bold <%- @site.careers.acm.job_description %>
            | <%- @site.careers.acm.job_description_cont %>
          .line
            .bold <%- @site.careers.acm.required_qualifications %>
            ul
              li <%- @site.careers.acm.required_qualifications_cont_1 %>
              li <%- @site.careers.acm.required_qualifications_cont_2 %>
              li <%- @site.careers.acm.required_qualifications_cont_3 %>
              li <%- @site.careers.acm.required_qualifications_cont_4 %>
              li <%- @site.careers.acm.required_qualifications_cont_5 %>
              li <%- @site.careers.acm.required_qualifications_cont_6 %>
              li <%- @site.careers.acm.required_qualifications_cont_7 %>
          .line
            .bold <%- @site.careers.acm.desired_qualifications %>
            ul
              li <%- @site.careers.acm.desired_qualifications_cont_1 %>            
              li <%- @site.careers.acm.desired_qualifications_cont_2 %>
              li <%- @site.careers.acm.desired_qualifications_cont_3 %>            
              li <%- @site.careers.acm.desired_qualifications_cont_4 %>
              li <%- @site.careers.acm.desired_qualifications_cont_5 %>
          .line
            | <%- @site.careers.sse.job_candidates_cont %> 
            a(href='mailto:<%- @site.careers.sse.job_candidates_email %>') <%- @site.careers.sse.job_candidates_email %>
