---
layout: inner
title: Job - Software or Systems Engineer - DevOps
active: careers
---


#sose.jobs
  section
    .container
      .row
        <!-- title -->
        .cover-title
          .title-1 <%- @site.careers.sose.job_name %>
  section
    .container
      .row
        <!-- content -->
        .cover-content
          .title-2 <%- @site.careers.sose.job_title %>
          .line
            .bold <%- @site.careers.sose.job_type %>
            | <%- @site.careers.sose.employment_cont %>
          .line
            .bold <%- @site.careers.sose.location %>
            | <%- @site.careers.sose.location_cont %>
          .line
            .bold <%- @site.careers.sose.job_description %>
            | <%- @site.careers.sose.job_description_cont %>
          .line
            .bold <%- @site.careers.sose.required_qualifications %>
            ul
              li <%- @site.careers.sose.required_qualifications_cont_1 %>
              li <%- @site.careers.sose.required_qualifications_cont_2 %>
              li <%- @site.careers.sose.required_qualifications_cont_3 %>
              li <%- @site.careers.sose.required_qualifications_cont_4 %>
              li <%- @site.careers.sose.required_qualifications_cont_5 %>
              li <%- @site.careers.sose.required_qualifications_cont_6 %>
              li <%- @site.careers.sose.required_qualifications_cont_7 %>
              li <%- @site.careers.sose.required_qualifications_cont_8 %>
          .line
            .bold <%- @site.careers.sose.desired_qualifications %>
            ul
              li <%- @site.careers.sose.desired_qualifications_cont_1 %>            
              li <%- @site.careers.sose.desired_qualifications_cont_2 %>
              li <%- @site.careers.sose.desired_qualifications_cont_3 %>
              li <%- @site.careers.sose.desired_qualifications_cont_4 %>            
              li <%- @site.careers.sose.desired_qualifications_cont_5 %>
              li <%- @site.careers.sose.desired_qualifications_cont_6 %>
              li <%- @site.careers.sose.desired_qualifications_cont_7 %>            
              li <%- @site.careers.sose.desired_qualifications_cont_8 %>
              li <%- @site.careers.sose.desired_qualifications_cont_9 %>
          .line
            | <%- @site.careers.sose.job_candidates_cont %> 
            a(href='mailto:<%- @site.careers.sose.job_candidates_email %>') <%- @site.careers.sose.job_candidates_email %>
