---
layout: inner
title: Job - Senior Software Engineer - Real-time Analytics
active: careers
---


#sse.jobs
  section
    .container
      .row
        <!-- title -->
        .cover-title
          .title-1 <%- @site.careers.sse.job_name %>
  section
    .container
      .row
        <!-- content -->
        .cover-content
          .title-2 <%- @site.careers.sse.job_title %>
          .line
            .bold <%- @site.careers.sse.job_type %>
            | <%- @site.careers.sse.employment_cont %>
          .line
            .bold <%- @site.careers.sse.location %>
            | <%- @site.careers.sse.location_cont %>
          .line
            .bold <%- @site.careers.sse.job_description %>
            | <%- @site.careers.sse.job_description_cont %>
          .line
            .bold <%- @site.careers.sse.required_qualifications %>
            ul
              li <%- @site.careers.sse.required_qualifications_cont_1 %>
              li <%- @site.careers.sse.required_qualifications_cont_2 %>
              li <%- @site.careers.sse.required_qualifications_cont_3 %>
              li <%- @site.careers.sse.required_qualifications_cont_4 %>
              li <%- @site.careers.sse.required_qualifications_cont_5 %>
              li <%- @site.careers.sse.required_qualifications_cont_6 %>
              li <%- @site.careers.sse.required_qualifications_cont_7 %>
          .line
            .bold <%- @site.careers.sse.desired_qualifications %>
            ul
              li <%- @site.careers.sse.desired_qualifications_cont_1 %>            
              li <%- @site.careers.sse.desired_qualifications_cont_2 %>
              li <%- @site.careers.sse.desired_qualifications_cont_3 %>
              li <%- @site.careers.sse.desired_qualifications_cont_4 %>            
              li <%- @site.careers.sse.desired_qualifications_cont_5 %>
              li <%- @site.careers.sse.desired_qualifications_cont_6 %>
              li <%- @site.careers.sse.desired_qualifications_cont_7 %>            
              li <%- @site.careers.sse.desired_qualifications_cont_8 %>
              li <%- @site.careers.sse.desired_qualifications_cont_9 %>
              li <%- @site.careers.sse.desired_qualifications_cont_10 %>
          .line
            | <%- @site.careers.sse.job_candidates_cont %> 
            a(href='mailto:<%- @site.careers.sse.job_candidates_email %>') <%- @site.careers.sse.job_candidates_email %>
