doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Book Manager
  body
    h1 App User Manager by Thanh Nguyen
    #content
      p Will have some users and book here
    script(src='global.js')
    script(src='page.js')
