---
layout: default
title: Selerity
active: home
---

.section#section0
  //- Start Header
  header.container.header-carousel
    .row
      .header-background-image
        .header-background-color
          .header-title-block
            h2.header-title  relevant content, in the moment.
            h3.header-subtitle Content Personalization & Recommendation for Enterprise Applications
            a.btn-header-learn-more(href="products.html") learn more
            .header-image
              .header-image-ui
              button.btn-header(type='button',data-toggle='modal',data-target='#modal-request') request demo
  //- End Header
.section#section1
  //- Start markets
  .markets
    .container
      .row
        h2.markets-title markets we serve
        .col-xs-12.col-md-4
          .markets-content-block
            .markets-content-block-title
              .markets-content-icon
                .icon-messaging
              h3.markets-content-title enterprise messaging platforms
            p.markets-content-desciption Turn messaging into collaboration with personalized news, research, and social content based on user workflow and interests.
        .col-xs-12.col-md-4
          .markets-background-black
            .markets-content-block-title
              .markets-content-icon
                .icon-e-broker
              h3.markets-content-title
                | financial publishers &
                br
                | e-brokers
            p.markets-content-desciption Users are constantly in a state of distraction. Bring them back to your site or app by pushing high-quality, personalized content to drive engagement.
        .col-xs-12.col-md-4
          .markets-content-block
            .markets-content-block-title
              .markets-content-icon
                .icon-banking
              h3.markets-content-title research & banking portals
            p.markets-content-desciption Make sure your best content is getting to the right user. Constantly deliver value to your customers and stay top of mind when they are ready to transact.
  //- End Markets
.section#section2
  //- Start Customer
  .container-fluid.customers
    .row
      .customers-background
      .customers-background
      .customers-background
      .customers-content-block
        .text-center.text-align-center
          .container
            h2.costomers-title Some of our amazing  customers & partners
            .row
              .customers-logo
                img(src="img/yahoo.png" alt="yahoo logo")
              .customers-logo
                img(src="img/Citi.png" alt="citi logo")
              .customers-logo
                img(src="img/SymphonyLogo.png" alt="sym logo")
              .customers-logo
                img(src="img/estimize.png" alt="estimise logo")
              .customers-logo
                img(src="img/Genscape_logo_grey.png" alt="genscape logo")
