---
layout: inner-not-hero
title: Products
active: products
---


#products.products-sgi
  section
    <!-- cover img -->
    .cover-inner-img
      .radius.col-md-6.col-xs-4
        img.img-responsive(src='../img/radius-17.png')
      .cover-inner-title.col-md-6.col-xs-8
        .header Selerity Global Insight (SGI)
        .desc Forward-looking, Event-driven News for Investors
        a(href="http://sgi.seleritycorp.com")
          .btn.btn-primary.btn-lg Click Here to See a Sample
    .cover-content-1.clearfix
      .container
        .content
          | Selerity Global Insight (SGI) provides investors with event-driven news on emerging markets with a focus on China and North America. Our proprietary technology and network of sources discover catalyst events, while our multilingual research team analyzes each event to provide insight and context. Each SGI intelligence report contains the event and why it matters.
        .features.clearfix
          p.bold.text-left Key Features:
        .container-box.clearfix.text-center
          .col-md-12
            .box
              h5 IMPACTFUL
              | Events that affect your investment thesis and create opportunity
            .divider
            .box
              h5 UNIQUE
              | 75% of the time, SGI intelligence is not covered or available on other information platforms
            .divider
            .box
              h5 CUSTOM
              | Receive coverage of the companies, industries and subjects you find most important
            .divider
            .box
              h5 CONTEXT
              | Understand why each event matters with proprietary analysis and contextual data