---
layout: inner-not-hero
title: Products
active: products
---


#products.products-event-data
  section
    <!-- cover img -->
    .cover-inner-img
      .radius.col-md-6.col-xs-4
        img(src='../img/radius-18.png')
      .cover-inner-title.col-md-6.col-xs-8
        .header Selerity Real-time Event Data
        .desc Real-time, Machine-readable Event Data For Automated Professional Investors
        a(href='http://www.seleritysync.com/login.do').btn.btn-primary.btn-lg Client Login
    .cover-content-1.clearfix
      .container
        .content
          | Selerity is the market leader in detecting and delivering machine-readable event data in real-time as events are breaking. The Selerity Intelligence Platform pulls market-moving, factual information from primary sources using proprietary real-time search and extraction technology. The product offering is designed for automated investment professionals looking to incorporate events into their risk management and trading strategies.
        .features.clearfix
          p.bold.text-left Key Features:
          ul
            li Automated detection & delivery of market-moving events
            li Unparalleled data accuracy and speed
            li Truly machine-readable event data
            li Simultaneous, fair data feed delivery
            li Integrated web-based and API-based event calendar
        .row.container-event-data.clearfix
          .title-2 Selerity offers the following market-moving event data:
          .col-md-12.container-radius-2.clearfix
            .col-md-3.col-xs-3
              .radius-2
                img(src='../img/global_economic_indicators.png')
              .name-2 Global Economic Indicators
            .col-md-3.col-xs-3
              .radius-2
                img(src='../img/us_corporate_earnings.png')
              .name-2 U.S. Corporate Earnings
            .col-md-3.col-xs-3
              .radius-2
                img(src='../img/us_sales_guidance.png')
              .name-2 Same Store Sales & Guidance
            .col-md-3.col-xs-3
              .radius-2
                img(src='../img/us_automotive_sales.png')
              .name-2 Monthly Automotive Sales
          .col-md-12.container-radius-2.clearfix
            .col-md-3.col-xs-3
              .radius-2
                img(src='../img/us_earnings_date_announcements.png')
              .name-2 U.S. Earnings Date Announcements
            .col-md-3.col-xs-3
              .radius-2
                img(src='../img/us_dividends.png')
              .name-2 U.S. Dividends
            .col-md-3.col-xs-3
              .radius-2
                img(src='../img/genscape_cushing_oil_storage_data.png')
              .name-2 Genscape Cushing Oil Storage Data
            .col-md-3.col-xs-3
              .radius-2
                img(src='../img/energy_statistics.png')
              .name-2 EIA Energy Statistics
          .col-md-12.container-radius-2.clearfix
            .col-md-3.col-xs-3
              .radius-2
                img(src='../img/earnings_preannouncements.png')
              .name-2 U.S. Earnings Date Announcements
            .col-md-3.col-xs-3
              .radius-2
                img(src='../img/official_m_a.png')
              .name-2 U.S. Dividends