---
layout: inner
title: Products
active: products
---
header.container-fluid
  .row.products-page-header
    .products-page-header-background
    .products-page-header-content.text-center
      h2 Selerity Context
      h3
        | Drive engagement by integrating high-quality content into your enterprise application
        | personalized to your user's workflow and interests
.container
  .row
    .products-page-introduction
      .products-page-symphony
        .products-page-symphony-right
          .products-page-symphony-image
          .products-page-symphony-button
            a(href="selerity-context.html").btn-products-page-symphony Selerity Context on Symphony
        .products-page-symphony-text
          span.products-page-symphony-content
            | Selerity Context is a contextual content recommendation service
            | for enterprise applications used by finance and business professionals.
            | Applications using Selerity Context can empower their users with
            | content discovery and search capabilities based on their individual
            | workflow and what's happening in the world in real-time.
        hr.products-page-symphony-line
      .products-page-usecase
        h3 use cases
        #enterprise-message-platform.col-md-4.products-page-usecase-hover
          .products-page-usecase-image
          .products-page-usecase-block
            h4 Enterprise Messaging Platforms
            p
              | Dynamically recommend personalized news and research based on companies and topics being discussed by your users.
              | Enrich real-time conversations with relevant content.
        #financial-publisher.col-md-4.products-page-usecase-hover
          .products-page-usecase-image
          .products-page-usecase-block
            h4
              | Financial Publishers &
              br
              | E-Brokers
            p
              | Construct company quotes pages with the most up to date and relevant content.
              | Reduce low relevance and redundant content from inconsistent source tags.
        #banking-portal.col-md-4.products-page-usecase-hover
          .products-page-usecase-image
          .products-page-usecase-block
            h4 Research & Banking Portals
            p
              | Recommend relevant content based on companies, currencies,
              | and commodities being searched by users. Create a trending news and
              | topics page to drive engagement.
        .col-md-12
          button.btn-products-request-demo(type='button',data-toggle='modal',data-target='#modal-request') request demo
.products-page-powerful
  .container
    .row
      h3.products-page-powerful-title powerful new capabilities for your users
      .col-md-3
        .products-page-powerful-block
          h4.products-page-powerful-subtitle premium content
          p.products-page-powerful-description
            | Selerity sources content from the best publishers, platforms, and
            | researchers relevant to financial and business professionals.
      .col-md-3
        .products-page-powerful-block
          h4.products-page-powerful-subtitle domain-optimized search
          p.products-page-powerful-description
            | Return recommended content based on your user's search
            | queries optimized for their industry and profession.
      .col-md-3
        .products-page-powerful-block
          h4.products-page-powerful-subtitle real-time push of novel and trending content
          p.products-page-powerful-description
            | Dynamically push your users relevant content based on their interests and
            | what's trending in the market.
      .col-md-3
        .products-page-powerful-block
          h4.products-page-powerful-subtitle automated, anonymized personalization
          p.products-page-powerful-description
            | Content individually tailored to users leveraging anonymized session IDs.
            | Pass Selerity anonymized information about your users such as watch lists
            | and profile information to further personalize their experience.
.container-fluid
  .row
    .products-page-great
      .col-md-6.products-page-great-blue
        .products-page-great-block
          h3.products-page-great-title great content
          p
            | Selerity sources content from the most reliable sources of news, research, and data.
            | We also push Selerity's proprietary, breaking news notifications through Selerity Context.
          p
            | Please
            a(href="mailto:partners@seleritycorp.com") contact us
            |  if you're interested in becoming a content partner.
      .col-md-6.products-page-great-white
        .row
          .products-page-great-block
            h3.products-page-great-title-sources Sample of Sources
            .col-xs-2.col-xs-offset-1.products-page-great-col
              .products-page-great-logo-size.products-page-great-ft-logo
            .col-xs-2.products-page-great-col
              .products-page-great-logo-size.products-page-great-reuters-logo
            .col-xs-2.products-page-great-col
              .products-page-great-logo-size.products-page-great-bi-logo
            .col-xs-2.products-page-great-col
              .products-page-great-logo-size.products-page-great-cnbc-logo
            .col-xs-2.products-page-great-col
              .products-page-great-logo-size.products-page-great-selerity-logo
.products-page-lingual
  .lingual-padding-top
    h3.lingual-title
      | multi-lingual,
      br
      | contextual recommendation engine
    p.lingual-description
      | Selerity's proprietary platform combines domain-optimized content
      | analytics with user behavior analysis to dynamically recommend
      | engaging content in the moment.
    hr.lingual-line
    p.lingual-line-languages Supported Languages:
    ul.lingual-line-list
      li.lingual-line-item
        a(href="#") English
      li.lingual-line-item
        a(href="#") Chinese
      li.lingual-line-item
        a(href="#") Spanish
      li.lingual-line-item
        a(href="#") Portuguese
  .lingual-background-black
    .container
      .row
        .col-md-2.col-lg-offset-1
          .lingual-black-block
            .lingual-black-icon.lingual-black-icon-domain
            .lingual-black-title Domain-Optimized Content Analytics & Data
            p.ligual-back-description
              | Domain-optimized machine-learning used to gain
              | deep understanding of content 'aboutness'
        .col-md-2
          .lingual-black-block-arrow
            .lingual-arrow-db-right
        .col-md-2
          .lingual-black-block-white
            .lingual-black-icon.lingual-black-icon-personal
            .lingual-black-title Personalized, High Quality Content Recommendation
            p.ligual-back-description
              | Dynamic push of contextually
              | relevant content specific to user's interests
        .col-md-2
          .lingual-black-block-arrow
            .lingual-arrow-db-left
        .col-md-2
          .lingual-black-block
            .lingual-black-icon.lingual-black-icon-domain-specific
            .lingual-black-title Domain-Specific User Intent Identification
            p.ligual-back-description
              | Harvest anonymous user activity at scale to predict user
              | intent and interests
.container-fluid
  .row
    .products-api
      .col-md-6.products-api-background-white
        .row
          .products-api-block
            .col-md-6
              h3.products-api-title UI Widget
              .products-api-icon.products-api-widget-icon
            .col-md-6
              h3.products-api-title API
              .products-api-icon.products-api-api-icon
      .col-md-6.products-api-background-blue
          .products-api-block
            h3.products-api-blue-title Seamless integration
            p.products-api-blue-description
              | Selerity's service is delivered via API or user interface
              | (UI) widget to make integration fast and easy. Selerity
              | Context can be queried to return recommended content
              | based on various entity types relevant to financial professionals.
            hr.products-api-blue-line
            h4.products-api-blue-subtitle Supported Entity Types
            p.products-api-blue-description
              | 15,000 global public companies/ Currencies /Commodities
            hr.products-api-blue-line
            h4.products-api-blue-subtitle Coming Soon
            p.products-api-blue-description
              | Trending event clusters/Natural language queries/Topics
.popup-block-fixed
    button#popup-close(type="button" class="close") ×
    .image-popup
